body{
    background-color: paleturquoise;
}
p {
    font-size:1rem;
}

h1{
    font-size:2.5rem;
    font-weight: bold;
}

.heading{
    color:palevioletred;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.input{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.input-content{
    background-color: antiquewhite;
    padding: 15px 15px;
    border-radius: 12px;
}

.owl{
    background-color:cadetblue;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.parrot{
    background-color:coral;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.robin{
    background-color:lightblue;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.warbler{
    background-color:yellowgreen;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.nightingale{
    background-color:cornflowerblue;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.dove{
    background-color:gainsboro;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.eagle{
    background-color:gold;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.kingfisher{
    background-color:aquamarine;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.hawk{
    background-color:burlywood;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.swan{
    background-color:pink;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.rooster{
    background-color:firebrick;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
}

.raven{
    background-color:darkblue;
    width: 25vw;
    height: 50vh;
    margin: 10px auto;
    padding:15px;
    border-radius: 25px;
    color:blanchedalmond;
}

p.raven{
    color: blanchedalmond;
}